<div class="row">

    <div class="col-4">

        <section class="users-section">
            <%= link_to 'Update Profile', edit_user_path, class: "bg-primary py-2 px-2 rounded mx-2 text-dark" %>
            <article class="timeline">
                <ul class="posts">
                    <h3 class="box title mb-0 no-border">All Post</h3>
                    <ul class="posts">
                    </ul>
            </article>
        </section>
    </div>

</div>