<div class="py-2">
     <article class="media box">
         <figure class="media-left">
             <p class="image is-64x64">
                <img src="https://louisem.com/wp-content/uploads/2017/07/facebook-link-thumbnail-2017.jpg" height="64px" width="64px">
             </p>
         </figure>
         <div class="media-content">
             <%= render 'form' %>
         </div>
     </article>
     <%= link_to 'Show', root_path %> |
     <%= link_to 'Back', posts_path %>

 </div>