    
    <article class="col-12 col-lg-6">
      <div class="mb-3">
          <%= render 'form' %>
      </div>
      <div class="mb-3">
          <%= render 'posts/post' %>
      </div>
    </article>
    <article class="col-12 col-lg-3">
      <div class="mb-3">
          <%= render 'who_to_follow' %>
      </div>
    </article>